<form [formGroup]="signinForm" (ngSubmit)="SignIn()">

  <div class="flex flex-column">

    <span class="text-lg mb-4">Registro</span>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Nick de Usuario" formControlName="username" required>
      <mat-error *ngIf="signinForm.get('username')?.hasError('required')">El nombre de usuario es obligatorio</mat-error>
      <mat-error *ngIf="signinForm.get('username')?.hasError('minlength')">El nombre de usuario debe tener al menos 4 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rol</mat-label>
      <mat-select formControlName="roll" >
        <mat-option value="user">Usuario</mat-option>
        <mat-option value="admin">Administrador</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña" formControlName="password" required>
      <mat-error *ngIf="signinForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
      <mat-error *ngIf="signinForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 4 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Municipio</mat-label>
      <input type="text" matInput placeholder="Municipio" formControlName="mun" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Provincia</mat-label>
      <input type="text" matInput placeholder="Provincia" formControlName="prov" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Télefono (opcional)</mat-label>
      <input type="number" matInput placeholder="Télefono" formControlName="phoneNumber">
      <mat-error *ngIf="signinForm.get('phoneNumber')?.hasError('pattern')">El número de teléfono debe tener 10 dígitos</mat-error>
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" type="submit">
      <mat-icon>save</mat-icon>
      Crear cuenta
    </button>

    <div class="flex justify-content-end mt-5">
      <a routerLink="/auth/login">"Ya tienes cuenta?"</a>
    </div>
  </div>

</form>

