
<form [formGroup]="mySearchForm" (ngSubmit)="onSave()">

  <div class = "flex" style="flex-direction: row;">
    <div class="flex flex-column m-1" style="flex-grow: 5;">


      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input  type="text"
                class="form-control"
                formControlName="name"
                matInput
        />

      </mat-form-field>

    </div>

    <div class="flex flex-column m-1" style="flex-grow: 2;">
      <mat-form-field>
        <mat-label>Cantidad de Campeones en un Intervalo</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="flex flex-column m-1" style="flex-grow: 1;">
      <button type="submit"
              color="primary"
              class="flex-grow-1"
              style="max-height: 56px; background-color: #7B1FA2;">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  </div>
</form>

<div class="table-container m-3">

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre"> Nombre </th>
      <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="mostPopularArchetype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Arquetipo mas Popular"> Arquetipo mas Popular </th>
      <td mat-cell *matCellDef="let item"> {{item.mostPopularArchetype}} </td>
    </ng-container>

    <ng-container matColumnDef="playersAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por cantidad de Jugadores"> Cantidad de Jugadores </th>
      <td mat-cell *matCellDef="let item"> {{item.playersAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="amountOfWinners">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por cantidad de Campeones"> Cantidad de Campeones </th>
      <td mat-cell *matCellDef="let item"> {{item.amountOfWinners}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="searchResultsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: searchResultsColumns;"></tr>
  </table>
</div>

