<div class="table-container-wrapper" style="display: flex;">
  <div class="table-container-left m-8">

    <p style="font-size: 30px;"><strong>Mis Decks:</strong></p>

    <table mat-table [dataSource]="myDecks" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let item"> {{item.Name}} </td>
      </ng-container>

      <!-- Attribute Column -->
      <ng-container matColumnDef="attribute">
        <th mat-header-cell *matHeaderCellDef> Atributo </th>
        <td mat-cell *matCellDef="let item"> {{item.Attribute}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="myDecksColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: myDecksColumns;"></tr>
    </table>

    <button mat-raised-button
    color="primary"
    [routerLink]="['/main/profile', id , 'new-deck']" >
      Nuevo Deck
    </button>

  </div>

  <div class="table-container-right m-8">
    <p style="font-size: 30px;"><strong>Mis Torneos:</strong></p>
    <table mat-table [dataSource]="myTournaments" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let item"> {{item.name}} </td>
      </ng-container>

      <!-- Attribute Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let item"> {{item.date}} </td>
      </ng-container>

      <!-- Attribute Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Region </th>
        <td mat-cell *matCellDef="let item"> {{item.region}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="myTournamentsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: myTournamentsColumns;"></tr>
    </table>

    <div *ngIf="isAdmin">
      <button mat-raised-button
      color="primary"
      [routerLink]="['/main/new-tournament']" >
        Nuevo Torneo
      </button>
    </div>

  </div>
</div>

<div *ngIf="isAdmin">
<button mat-flat-button color="primary" [matMenuTriggerFor]="menu"
style="
  position: fixed;
  bottom: 40px;
  right: 16px;
  z-index: 1000;
">Administrar</button>
<mat-menu #menu="matMenu" xPosition="after" yPosition="above">
  <!-- Aqui estan los botones para ejecutar cada una de las respectivas acciones -->
  <button mat-menu-item (click)="UpgradeUserToAdmin()">Hacer Admin</button>
  <button mat-menu-item (click)="DeleteUser()">Eliminar Usuario</button>
  <button mat-menu-item (click)="TogglePasswordMenu()">Modificar Contraseña</button>

</mat-menu>
</div>


<!-- Esto es simplemente maqueteria para el menu de cambiar contraseña -->
<div
  style="
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(40, 31, 96, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);"
  *ngIf="showPasswordMenu">
  <h2>Introduzca la nueva contraseña</h2>


  <mat-form-field
  style="padding: 10px;">
    <input matInput type="password" placeholder="Nueva contraseña" [(ngModel)]="newPassword"/>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="ChangeUserPassword(newPassword)">Guardar</button>

</div>


