<div class="flex flex-column">

  <span class="text-lg mb-4">Login</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario" name="NomberDeUsuario" [(ngModel)]="NomberDeUsuario">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="text" matInput placeholder="Contraseña" name="PasswordUsuario" [(ngModel)]="PasswordUsuario">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="autenticarUsuario()">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/signin">"Ya tienes cuenta?"</a>
  </div>
</div>
