<div class = "flex" style="flex-direction: row;">
  <div class="flex flex-column" style="flex-grow: 5;">


    <mat-form-field>
      <mat-label>Buscar por Torneo</mat-label>
      <input  type="text"
              matInput
              [formControl]="searchInput"
      />

    </mat-form-field>

  </div>

<!--  <div class="flex flex-column" style="flex-grow: 1;">


    <mat-form-field>
      <mat-label>Buscar por Torneo</mat-label>
      <input  type="tex/t"
              matInput
              [formControl]="searchInput"
      />

    </mat-form-field>
  </div> -->
</div>

