<div class="container">
  <mat-card class="card m-3" style="background-color: #7B1FA2;">
    <mat-card-header>
      <div mat-card-avatar class="header-icon">1</div>
      <mat-card-title>Información</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Contenido del primer cuadro -->
    </mat-card-content>
  </mat-card>

  <mat-card class="card m-3">
    <mat-card-header>
      <div mat-card-avatar class="header-icon">2</div>
      <mat-card-title>Rondas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Contenido del segundo cuadro -->
    </mat-card-content>
  </mat-card>

  <mat-card class="card m-3">
    <mat-card-header>
      <div mat-card-avatar class="header-icon">3</div>
      <mat-card-title>Participantes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Contenido del tercer cuadro -->
    </mat-card-content>
  </mat-card>
</div>
